
.album-inline-panel .select-and-sort {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    background-color: #eee;
    padding: 1em;
}

.album-inline-panel  .select-and-sort .ui-sortable-handle {
    display: inline-block;
    padding: 0;
    margin: 4px;
}

.album-inline-panel .select-and-sort .ui-sortable-handle.selected:after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 178, 255,0.6);
    box-sizing: border-box;
    
    margin: 0;
    
    /* Make the underlying element clickable */
    pointer-events: none;
}

.album-inline-panel .select-and-sort.selectable > .ui-sortable-handle:before {
  left: .3em;
  top: .3em;
  color: transparent;
  font-size: 2em;
  content: '\2713';
  position: absolute;
  
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  
  
  background-color: rgba(0,0,0,0.3);
  
  z-index: 100;
}


.album-inline-panel .select-and-sort.selectable > .ui-sortable-handle.selected:before {
  
  color: white;
  
  background-color: #235ca1;
}

.album-inline-panel .ui-sortable-handle {
    margin: 0;
    background-color: white;
    box-shadow: 0 0 0.3em rgba(0,0,0,0.2);
}

.album-inline-panel .ui-sortable-handle .w-panel{
    margin: 0;
}

.album-inline-panel .ui-sortable-handle .w-field__wrapper{
    margin: 0;
} 

.album-inline-panel .ui-sortable-handle .w-field__input {
    padding: 0.2em;
}

.album-inline-panel .ui-sortable-handle .w-panel__content {
    background: none; /* remove wagtails guide-line-vertical */
}

 	
.album-inline-panel .w-mb-4 {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}


.album-inline-panel .select-and-sort .ui-sortable-handle img {
    max-width: 100px;
    max-height: 100px;
    
    display: block;
    margin: auto;
    
    position: relative;
    
    min-height: 70px;
    min-width: 70px;
    object-fit: cover;
}

.album-inline-panel .select-and-sort:not(.selectable) .cover-image::after {
    content:'\1F4F8  Cover' !important;
    display: table-cell;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 2em;
    padding: 0.3em;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

.album-inline-panel .select-and-sort .ui-sortable-handle {
    margin: 0;
    position: relative;
}

.album-inline-panel .select-and-sort .ui-sortable-handle .input {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.album-inline-panel .select-and-sort.ui-sortable img {
    pointer-events: none;
}

.album-inline-panel .select-and-sort.ui-sortable ul {
    user-select: none;   
    margin: 0;
    height:100px;
}

.album-inline-panel .ui-state-highlight {
    height: 100px;
    width: 100px;
}

.album-inline-panel .ui-sortable-helper {
    box-shadow: 0 0 0.3em var(--w-color-primary);
}

#contextMenu.wagtail-photo-gallery {
    position:absolute;
    background-color: white;
    z-index: 2000;
    border: 1px solid gray;
    border-radius: 5px;
}

#contextMenu.wagtail-photo-gallery ul {
    margin:0;
    padding: 0;
}

#contextMenu.wagtail-photo-gallery li {
    padding:5px;
}

#contextMenu.wagtail-photo-gallery li.delete::before {
    content:'\1F5D1';
    padding-right: 0.5em;
}


#contextMenu.wagtail-photo-gallery li.move::before {
    content:'\21C4';
    padding-right: 0.5em;
}


#contextMenu.wagtail-photo-gallery li.check::before {
    content:'\2713';
    padding-right: 0.5em;
}


#contextMenu.wagtail-photo-gallery li.cover::before {
    content:'\1F4F8';
    padding-right: 0.5em;
}
