.photo-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    width: 100%;
}

.photo-gallery-container a {
    margin: 5px;
}

.photo-gallery-container a img {
    height: 150px;
    min-width: 110px;
    max-width: 300px;
    
    display: block;
    margin: auto;
    
    position: relative;
    
    object-fit: cover;
}
