{% load i18n l10n %}

<article class="photo-gallery-album">
    <header>
        <h1>{{ album.title }}</h1>
    </header>
    <section>
        <p>{{ album.description }}</p>

        {% if album.is_visible %}
            <div class="photo-gallery-container-images">
                {% for item in images %}
                    <img src="{{ item.thumb.url }}" alt="{{ item.alt }}" data-image-src="{{ item.image.url }}" data-image-width="{{ item.width }}" data-image-height="{{ item.height }}" />
                {% endfor %}
            </div>
        {% else %}
            <h3>
                {% trans "This album is temporarily unavailable" %}.
            </h3>
        {% endif %}
    </section>
</article>
